.accueilpic {
    /* border: solid brown 2px; */
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    margin-top: 3em; 
    height: 100px; 
    width: 100%;
    position: absolute;
    display: inline-block;
    left: 0;
    /* max-width: 100vh; */
    z-index: 99;
}

.accueilpic > img  {
    /* display: flex; */
    /* border: solid red 3px; */
    height: 1000px;
    /* max-width: 100vh;
    max-height: 100vh; */
}

@media only screen and (max-width: 1026px) {
    .accueilpic{
        max-width: 50vh;
        /* max-height:100vh; */
    }
}

@media only screen and (max-width: 1026px) {
    .accueilpic > img{
        max-width: 50vh;
        /* max-height:100vh; */
    }
}