.presentationpic {
    /* border: solid brown 2px; */
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    margin-top: 3em; 
    height: 100px; 
    width: 100%;
    position: absolute;
    display: inline-block;
    left: 0;
    /* max-width: fit-content; */
    z-index: 99;
}

.presentationpic > img  {
    /* display: flex; */
    /* border: solid red 3px; */
    height: 1000px;
}

@media only screen and (max-width: 1026px) {
    .presentationpic{
        max-width: 50vh;
    }
}

@media only screen and (max-width: 1026px) {
    .presentationpic > img{
        max-width: 50vh;
        
    }
}