header {
    border: 2px solid darkgray;
    /* border: 2px solid red; */
    /* position: relative; */
    /* left: -2px; */
    color: rgb(255,165,0);
    font-weight: bold;
    background: linear-gradient(90deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 50%, rgba(214,214,214,1) 100%);
    font-family: 'Dancing Script', cursive;
    /* height: 15em; */
    display: flex;
    justify-content: center;
    width: 100%;
}

header a {
    /* border: solid red 2px; */
    text-align: center;
    padding: 0 3em 0 3em ;
}

header h1 {
    /* border: solid blue 2px; */
    margin-bottom: 0%;
    margin-top: 5%;
}

header h2 {    
    /* border: solid green 2px; */
    font-size: 0.75em;    
    margin-top: 5%;
}


/* Decoration du Lien---------------*/

header a:link {
    /* border: solid red 2px; */
    font-size: 3em;
    text-decoration: none;
}

header a:visited {
    color: rgb(255,165,0);
    text-decoration: none;
}

